
!.env.example
# hardened ignores
*.db
*.db-journal
.DS_Store
.env
.env.*
.next
.next/
.vercel/
coverage
coverage/
node_modules
node_modules/
npm-debug.log*
out/
prisma/dev.db
prisma/dev.db-journal
uploads
uploads/
