# dependencies
node_modules/

# next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts

# local data & env
.env
.env.local
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# misc
.DS_Store
coverage/
*.log
